body {
  color: #bbb;
  background: #111;
  font-family: 'Inter', sans-serif;
  user-select: none;
}

#app {
  max-width: 40rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  align-items: start;
  row-gap: 1rem;
}

a {
  color: #bbb;
}

h1 {
  font-weight: 600;
  img {
    margin-right: 1rem;
    height: 2.5rem;
    vertical-align: text-bottom;
  }
}

h2 {
  text-align: center;
  font-weight: 800;
  font-size: 1.3rem;
  margin: 1rem 0 0;
}

.buttons {
  border: solid #666;
  border-width: 1px 0;
  text-align: center;
}

.buttons button {
  border: 1px solid #666;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background: #222;
  color: #fff;
  font-family: inherit;
  font-weight: 800;
  font-size: 0.8rem;
  line-height: 0.8rem;
  cursor: pointer;
  margin: 0.5rem;
}
.buttons button.toggle {
  width: 3rem;
}
.buttons button:hover {
  border-color: oklch(70% 0.1 140);
}

@media (min-width: 40rem) {
  #app {
    grid-template-columns: 1fr 1fr;
  }
  header,
  p,
  #buttons {
    grid-column: span 2;
  }
}
